<?xml version="1.0"?>
<launch> 
 <node name="imu_filter_node_for_orientation" pkg="imu_complementary_filter" type="complementary_filter_node" >
  </node>

  <node name="imu_node" pkg="mpu_6050_driver" type="imu_node.py" >
  </node>

  <node name="rpy_tf" pkg="mpu_6050_driver" type="tf_broadcaster_imu.py" >
  </node>

</launch>
